services:
  content-maestro:
    container_name: content-maestro
    user: "1000:1000"
    image: content-maestro:latest
    build:
      context: .
      args:
        APP_VERSION: ${APP_VERSION}
    env_file:
      - .env
    environment:
      - SQLITE_DB_PATH=/sqlite_db/content-maestro.db
    ports:
      - "${API_PORT:-8080}:${API_PORT:-8080}"
    volumes:
      - ~/sqlite_db:/sqlite_db
    networks:
      - think-root-network

networks:
  think-root-network:
    external: true
