services:
  think-root-db:
    container_name: think-root-db
    restart: always
    image: postgres:16-alpine
    env_file:
      - .env
    environment:
      - POSTGRES_DB=think-root-db
    ports:
      - "${POSTGRES_EXTERNAL_PORT:-5433}:5432"
    volumes:
      - content-maestro-postgres-data:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
    networks:
      - think-root-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  content-maestro:
    container_name: content-maestro
    restart: always
    image: content-maestro:latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_VERSION: ${APP_VERSION}
    env_file:
      - .env
    ports:
      - "${API_PORT:-8080}:${API_PORT:-8080}"
    volumes:
      - content-maestro-tmp:/app/tmp/gh_project_img
    networks:
      - think-root-network
    depends_on:
      think-root-db:
        condition: service_healthy

volumes:
  content-maestro-tmp:
    name: content-maestro-tmp
  content-maestro-postgres-data:
    name: content-maestro-postgres-data

networks:
  think-root-network:
    external: true
