apis:
  whatsapp:
    url: "{env.WAPP_SERVER_URL}/wapp/send-message"
    method: "POST"
    auth_type: "bearer"
    token_env_var: "WAPP_TOKEN"
    content_type: "json"
    timeout: 30
    success_code: 200
    enabled: false
    response_type: "json"
    socialify_image: false
    default_json_body:
      type: "chat"
      jid: "{env.WAPP_JID}"

  twitter:
    url: "{env.TWITTER_URL}/x/api/posts/create"
    method: "POST"
    auth_type: "api_key"
    token_env_var: "TWITTER_API_KEY"
    token_header: "X-API-Key"
    content_type: "multipart"
    timeout: 30
    success_code: 200
    enabled: true
    response_type: "json"
    text_language: "en"
    socialify_image: false

  telegram:
    url: "{env.TELEGRAM_SERVER_URL}/telegram/send-message"
    method: "POST"
    auth_type: "api_key"
    token_env_var: "TELEGRAM_SERVER_TOKEN"
    token_header: "X-API-Key"
    content_type: "multipart"
    timeout: 30
    success_code: 200
    enabled: true
    response_type: "json"
    text_language: "uk"
    socialify_image: true

  bluesky:
    url: "{env.BLUESKY_URL}/bluesky/api/posts/create"
    method: "POST"
    auth_type: "api_key"
    token_env_var: "BLUESKY_SERVER_KEY"
    token_header: "X-API-Key"
    content_type: "multipart"
    timeout: 30
    success_code: 200
    enabled: true
    response_type: "json"
    text_language: "en"
    socialify_image: false

  threads:
    url: "{env.THREADS_URL}/threads/post"
    method: "POST"
    auth_type: "api_key"
    token_env_var: "THREADS_API_KEY"
    token_header: "X-API-Key"
    content_type: "json"
    timeout: 30
    success_code: 200
    enabled: true
    response_type: "json"
    text_language: "en"
    socialify_image: false
